
 * , * ::after, * ::before{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
 }
 a {
  text-decoration: none;
 }
 ul,ol,li{
  list-style:none ;
 }
 img{
  vertical-align:top ;
 }
 h1,h2,h3,h4,h5,h6{
font-weight: inherit;
font-size: inherit;
 }
  html, body{
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background: #FAFAFA;
 }
 			
/*-------------------------------------------------*/
.wrapper{
  overflow: hidden;
  min-height: 100%;
}
/*-------------------------------------------------*/
._container{
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}
/*-----------------Header--------------------------------*/
.header {
position:absolute;
width: 100%;
left:0;
top: 0;
z-index:50;
}
.header__container {
display: flex;
align-items: center;
min-height: 104px;
}
@media (max-width:479px){
  .header__container{
	 min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color:#252b42;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width:992px){
  .header__menu{
	 margin: 0px 0px 0px 80px;
  }
}
@media (max-width:767px){
  .header__menu{
	 margin: 0px 0px 0px 40px;
  }
}

@media (max-width:479px){
  .header__menu{
	 margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  
}
.menu__item:not(:last-child){
  margin:0px 21px 0px 0px ;
}
.menu__link {
  color:#737373;
  line-height: calc(24/14*100%);
  font-weight: 600; 
}

@media (max-width:479px){
  .menu__link{
	 font-size: 18px;
  }
}
/*-----------------PAGE--------------------------------*/
.page{
  flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
  margin: -111px 0px 0px 0px;
  z-index: 2;
  position:relative;
}

.page__advantages {
}

.page__practice {
}

.page__who-we-are {
}
.page__clients {
}
/*-----------------header-block--------------------------------*/
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #252B42;
}
.header-block__title:not(:last-child){
  padding: 0px 0px 10px;
}
.header-block__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 142%;
  color: #737373;
}
@media (max-width:992px){
  .header-block__title{
	 font-size: 35px;
  }
}
@media (max-width:767px){
  .header-block__title{
	 font-size: 30px;
  }
}
/*-----------------MAIN--------------------------------*/

.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 184px 0px 191px 0px ;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px){
  .main-block__body {
	 padding: 120px 0px 191px 0px;
  }
}
@media (max-width: 479px){
  .main-block__body {
	 padding: 115px 0px 160px 0px;
  }
}
.main-block__body > *:not(:last-child){
margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80/58*100%);
  letter-spacing: 0.2px;
}
@media (max-width: 479px){
  .main-block__title {
	 font-size: 42px;
  }
}
.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30/20*100%);
  color: #737373;
}
@media (max-width:479px){
  .main-block__text{
		color: rgb(73, 71, 71);
  }
}
.main-block__buttons {
  display:  flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  font-weight: 700 ;
  line-height: 150%;
  text-align: center;
  margin: 10px 0; 
}
@media (max-width:479px){
  .main-block__button{
	 flex: 1 1 100%;
  }
}
@media (min-width:479px){
  .main-block__button:not(:last-child){
	 margin-right: 10px; 
  }
}

.main-block__button_orange {
  background: #FF7B47;
  color: white;
}
.main-block__button_border {
  border: 1px solid #0D5C63;
  color: #0D5C63;
}

.main-block__image{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.main-block__image img{
}
 
@media(max-width: 1300px){ 
  .main-block__image img{
	 object-position: right;
  }
}

@media(max-width: 992px){ 
  .main-block__image {
	 opacity: 0.5 ;
  }
}

/*-----------------SERVICES--------------------------------*/
.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px){
  .services__body {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 0px -15px ;
	 }
}
.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 670px){
  .services__column {
	 padding: 0px 15px;
	 }
}
@media (max-width:992px){
  .services__column{
 flex: 0 1 50%;   
}
  .services__column:last-child{
	 flex: 1 1 100%; 
  }
  .services__column:not(:last-child){
	 margin: 0px 0px 30px 0px;
  }
}

.services__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
  height: 100%;
}
@media (max-width:479px){
  .services__item {padding:25px;}
}
.item-service {
}
.item-service > *:not(:last-child){
  margin: 0px 0px 10px 0px;}
.item-service__icon {
}
.item-service_green{
  background-color: #0D5C63;
}
.item-service_green .item-service__title{
  color: white;
}
.item-service_green .item-service__text{
  color: white;
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #737373;
}

/*-----------------advantages--------------------------------*/
.advantages {
  padding: 80px 0px;
}
@media (max-width:992px){
  .advantages{
	 padding: 50px 0px;
  }
}
@media (max-width:767px){
  .advantages{
	 padding: 40px 0px;
  }
}
.advantages__container {
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

@media (max-width:767px){
  .advantages__header{
	 margin: 0px 0px 25px 0px;
  }
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}
.advantages__columns {
  padding: 0px 15px ;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width:1024px){
  .advantages__columns{
	 flex: 0 1 50% ;
  }
}
@media (max-width:567px){
  .advantages__columns{
	 flex: 0 1 100% ;
  }
}
.advantages__items {
  background-color: #fff;
  padding: 35px;
  text-align: center;
  font-weight: 700;
}
.advantages__items>*:not(:last-child){
  padding: 0px 0px 10px 0px;
}
.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
}
.advantages__text {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

/*-----------------practice--------------------------------*/

.practice {
padding: 125px 0px 80px 0px;
}
@media (max-width:993px){
  .practice{
	 padding: 40px 0px 80px 0px;
  }
}
@media (max-width:767px){
  .practice{
	 padding: 0px 0px 40px 0px;
  }
}
.practice__container {
}
.practice__header {
  margin: 0px 0px 45px 0px;
}
@media (max-width:767px){
  .practice__header{
	 margin: 0px 0px 25px 0px;
  }
}
.practice__body {
  display: flex;
  margin: 0px -20px -30px;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width:1040px){
  .practice__column{
	 flex: 0 1 50%;
  }
}
@media (max-width:630px){
  .practice__column{
	 flex: 0 1 100%;
  }
}
.practice__item {
}
.item-practice {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-practice__content{
  padding: 30px;
  flex: 1 1 auto;
  
}
.item-practice__link {
  color:inherit;
  display: inline-block;
}
.item-practice__link:not(:last-child){
 margin: 0px 0px 15px 0px;
}
.item-practice__link:hover{
  text-decoration: underline;
}
.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}
/*-----------------who we are--------------------------------*/
.who-we-are {
  padding: 80px 0px 130px 0px;
  background-color: #fff;
}

.who-we-are__container {
}
.who-we-are__header{
  margin: 0px 0px 100px 0px;
}

.who-we-are__body {
  display: flex;
  align-items: flex-start;

}

.who-we-are__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}
.who-we-are__video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  object-fit: cover;
}
.who-we-are__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}
@media (max-width:1080px){
  .who-we-are__content{
	 padding: 0px 0px 0px 50px;
  }
}
@media (max-width:767px){
  .who-we-are{
	 padding: 20px 0px 50px 0px;
  }
  .who-we-are__top:not(:last-child){
	 margin:0px 0px 30px 0px;
  }
  .who-we-are__video:not(:last-child){
	 margin: 30px 0px 0px 0px;
  }
}
.who-we-are__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
@media (max-width:950px){
  .who-we-are__title {
	 font-size: 27px;
  }
  .who-we-are__content{
	 padding: 0px 0px 0px 0px;
  }
  .who-we-are__video{
	 padding: 0px 0px 56.25% 0px ;
  }
  .who-we-are__video:not(:last-child){
	 margin: 50px 0px 50px 0px;
  }
  .who-we-are__body{
	 flex-direction: column-reverse;
	 align-items: stretch;
  }
  .who-we-are__header{
	 margin: 0px 0px 30px 0px;
  }
  .who-we-are{
	 padding: 50px 0px 50px 0px;
  }
}
.who-we-are__title:not(last-child){
  margin: 0px 0px 10px 0px;
}
.who-we-are__text {
  color: #737373;
  line-height: 142%;
}
.who-we-are__top:not(:last-child){
  margin: 0px 0px 50px 0px;
}
.who-we-are__items {
	
}
.who-we-are__item {
}
.who-we-are__item:not(:last-child){
  margin: 0px 0px 30px 0px;
} 
.item-who-we-are {
  display: flex;
}
.item-who-we-are__icon {
  flex: 0 0 32px;
}
.item-who-we-are__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-who-we-are__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-who-we-are__title:not(:last-child){
  margin: 0px 0px 5px 0px ;
}
.item-who-we-are__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 225px;
}
/*-----------------clients--------------------------------*/
.clients {
  padding: 50px 0px;
}
@media(max-width:767px){
  .clients {
	 padding: 30px 0px;
	 }
}
.clients__container {
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__item{
  flex: 0 1 16.6667%;
  text-align: center;
  padding: 8px 15px;
  min-width: 140px;
}
.clients__item img{
  max-width: 100%;
}
/*-----------------footer--------------------------------*/
.footer{

}